{{#if errors}}
  <ul>
    {{#each errors}}
      <li>{{this.msg}}</li>
    {{/each}}
  </ul>
{{/if}}
{{! This is the input form }}
<form class="bg-gray-100 p-6 rounded-md">
  <label for="postTitle" class="block text-gray-700">Event Name:</label>
  <input
    type="text"
    id="postTitle"
    name="postTitle"
    class="w-full px-3 py-2 mt-1 mb-6 border rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-200"
    value="{{formData.postTitle}}"
  />

  <label for="postContent" class="block text-gray-700">Post:</label>
  <textarea
    id="postContent"
    name="postContent"
    class="w-full px-3 py-2 mt-1 mb-6 border rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-200"
  >{{formData.postContent}}</textarea>

  <button
    id="postSubmit"
    class="px-4 py-2 bg-blue-200 text-gray-700 rounded-md cursor-pointer hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
  >Create Post</button>

</form>